
<canvas id="result-chart" width="400" height="200"></canvas>

{% block scripts %}
<script>
  var result_data = {{ result_data|safe }}
  var colors = {{ colors|safe }}

  const labels = result_data.map(entry => entry.bacteria);
  const cnnPercentages = result_data.map(entry => parseFloat(entry.CNN));
  const svmPercentages = result_data.map(entry => parseFloat(entry.SVM));
  var ctx = document.getElementById('result-chart').getContext('2d')

  var barChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'CNN Percentages',
            data: cnnPercentages,
            backgroundColor: colors,
            borderColor: colors,
            borderWidth: 1,
            borderSkipped: 'bottom'
        }, {
            label: 'SVM Percentages',
            data: svmPercentages,
            backgroundColor: colors,
            borderColor: colors,
            borderWidth: 1,
            borderSkipped: 'bottom'
        }]
    },
    options: {
        indexAxis: 'y',
        plugins: {
            legend: {
                display: false
            },
            shadowBlur: 100,
            shadowColor: 'rgba(0, 0, 0, 1)',
            shadowOffsetX: 50,
            shadowOffsetY: 50,
            tooltip: {
                callbacks: {
                    label: function(context) {
                        var label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.x !== null) {
                            label += context.parsed.x + '%';
                        }
                        return label;
                    }
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    callback: (value) => {
                        return value + '%';  // Appends a percent sign to each tick label
                    }
                }
            }
        }
    }
});
 

</script>
{% endblock scripts %}
