db.sqlite3
__pycache__/
staticfiles/

#venv

.env
.env/
.env.prod

venv/
pyvenv.cfg
Lib/
Scripts/
Include/

#models
main/models
cnn_model

#user data files
main/survey-files/
main/survey-results/

core/

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir