{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/stepper.css' %}">
  <link rel="stylesheet" href="{% static 'css/uploader.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="stepper-wrapper">
    <div class="step {% if request.path == '/survey/' %}active{% else %} completed {% endif %}">
      <!-- <div class="step-img-wrapper">
        <img class="step-img" src="{% static 'images/icon-images/step1.png' %}" alt="step1">
      </div> -->
      <div class="step-icon">
        {% if request.path != '/survey/' %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title"> Өгөгдөл  оруулах</div>
    </div>
    <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' %} incomplete {% elif request.path == '/survey/load/' %} active {% else %} completed {% endif %}">
      <div class="step-icon">
        {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/'  %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title">Бактери илрүүлэх</div>
    </div>
    <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' or request.path == '/survey/load/' %} incomplete {% elif request.path == '/survey/finish/' %} completed {% else %} active {% endif %}">
      <div class="step-icon">
        {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/survey/result/' %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title">Өгөгдөл татах</div>
    </div>
  </div>
  <form 
    id="survey-form" 
    method="post" 
    class="w-full flex justify-center" 
    action="{% url 'upload-survey' %}" 
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="uploader-wrapper">
      <h2>Upload</h2>
      <div class="uploader-dropper">
        <div class="flex h-half w-full justify-center p-4">
          <img src="{% static 'images/icon-images/upload-icon.png' %}" alt="upload-icon">
        </div>
        <div class="flex flex-col justify-evenly h-half">
          <div class="flex w-full justify-center">
            <div class="uploader-text">Drag & drop files or&nbsp;</div>
            <label for="upload-survey-input" class="uploader-text browse">
              <input 
                type="file" 
                id="upload-survey-input"
                name="survey-file"
                hidden 
                accept=".txt, .pdf, .xlc, .csv, .word"
                onchange="document.getElementById('survey-form').submit()"
              >
              Browse
            </label>
          </div>
          <div class="uploader-desc">
            Supported formats: Txt, Pdf, Xlc, Csv, Word
          </div>
        </div>
      </div>
      <label for="upload-survey-input" class="uploader-button flex items-center">
        <input 
          type="file" 
          id="upload-survey-input" 
          name="survey-file"
          hidden
          accept=".txt, .pdf, .xlc, .csv, .word"
          onchange="document.getElementById('survey-form').submit()"
        >
        <div class="uploader-button-text">Upload Files</div>
      </label>
    </div>
  </form>
</body>
</html>