{% load static %}

<div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
  <div class="chart">
    <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
  </div>
</div>

{% block scripts %}
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script>
  var ctx = document.getElementById("chart-bars").getContext("2d");

  var monthly_new_users = {{ monthly_new_users|safe }};

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Jan","Feb","March","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [{
        label: "Шинэ Хэрэглэгч",
        tension: 0.4,
        borderWidth: 0,
        borderRadius: 4,
        borderSkipped: false,
        backgroundColor: "#fff",
        data: monthly_new_users,
        maxBarThickness: 6
      }, ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 500,
            beginAtZero: true,
            padding: 15,
            font: {
              size: 14,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
            color: "#fff"
          },
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false
          },
          ticks: {
            display: false
          },
        },
      },
    },
  });

</script>
{% endblock scripts %}
