{% extends 'layouts/main.html' %}

{% block user-content %}
<style>
  .errorlist {
    margin-bottom: 0px !important;
  }
</style>

<div class="d-flex flex-col justify-content-center align-items-center" style="max-width: 356px;">
  <h2 class="fw-semibold">Нууц үгээ дахин сэргээх</h2>
  <p>Шинэ нууц үгээ хоёр удаа оруулна уу.</p>

  <form method="post" class="grid gap-3 w-100">
    {% csrf_token %}
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Шинэ нууц үг" aria-label="Шинэ нууц үг" aria-describedby="addon-wrapping" required>
      </div>
    </div>
    {% if form.new_password1.errors %}
      <span class="text-danger">{{ form.new_password1.errors }}</span>
    {% endif %}
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Шинэ нууц үг баталгаажуулах" aria-label="Шинэ нууц үг баталгаажуулах" aria-describedby="addon-wrapping" required>
      </div>
    </div>
    {% if form.new_password2.errors %}
      <span class="text-danger">{{ form.new_password2.errors }}</span>
    {% endif %}
    <button type="submit" class="btn btn-primary">Нууц үг солих</button>
  </form>
</div>
{% endblock user-content %}
