{% load static %}
{% include 'components/toaster.html' %}

<nav class="navbar w-full max-w-7xl gap-40 flex p-2">
  <div class="container-fluid w-fit ml-none mr-none">
    <a href="/">
      <img src="{% static 'images/brand-logo.png' %}" alt="Bacteraify">
    </a>
  </div>
  <ul class="navbar-nav flex flex-row gap-20">
    <li class="nav-item ">
      <a class="nav-link {% if request.path == '/' %}selected-nav{% endif %}" href="{% url 'home' %}">
        <h2>Нүүр</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if '/survey/' in request.path %}selected-nav{% endif %}" href="{% url 'survey' %}">
        <h2>Шинжилгээ</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/faq/' %}selected-nav{% endif %}" href="{% url 'faq' %}">
        <h2>FAQ</h2>
      </a>
    </li>
  </ul>
  <div class="flex gap-10 search-container">
    <form class="flex w-full input-group" for="search">
      <input class="form-control search-input" type="search" placeholder="Хайх...">
      <button class="input-group-append btn search-btn">
        <span class="input-group-text">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </button>
    </form>
    {% if user.is_authenticated and not user.is_superuser %}
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fa-solid fa-user"></i>
      </button>
      <div class="dropdown-content">
        <div class="profile">
          {{ user.username }}
          <div class="email">{{ user.email }}</div>
        </div>
        <hr class="solid divider">
        <a dropdown-item" href="{% url 'surveys' %}">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <div>Шинжилгээний түүх</div>
        </a>
        <a href="{% url 'search-survey' %}">
          <i class="fa-solid fa-magnifying-glass"></i>
          <div>Шинжилгээ хайх</div>
        </a>
        <a class="dropdown-item" href="{% url 'logout' %}">
          <i class="fa-solid fa-right-from-bracket"></i>
          <div>Гарах</div>
        </a>
      </div>
    </div>
    {% else %}
    <button class="btn button bg-primary" type="submit">
      <a class="h-full w-full text-white font-semibold" href="{% url 'login' %}">
        Нэвтрэх
      </a>
    </button>
    {% endif %}
  </div>
</nav>