{% load static %}
{% include 'components/toaster.html' %}

<nav class="navbar w-full max-w-7xl gap-40 flex p-2">
  <div class="container-fluid w-fit ml-none mr-none">
    <a href="/">
      <img src="{% static 'images/brand-logo.png' %}" alt="Bacteraify">
    </a>
  </div>
  <ul class="navbar-nav flex flex-row gap-20">
    <li class="nav-item ">
      <a class="nav-link {% if request.path == '/' %}selected-nav{% endif %}" href="{% url 'home' %}">
        <h2>Нүүр</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if '/survey/' in request.path %}selected-nav{% endif %}" href="{% url 'survey' %}">
        <h2>Шинжилгээ</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/faq/' %}selected-nav{% endif %}" href="{% url 'faq' %}">
        <h2>FAQ</h2>
      </a>
    </li>
  </ul>
  <div class="flex gap-10 search-container">
    <form class="flex w-full" for="search">
      <input class="form-control search-input" type="search" placeholder="Хайх...">
    </form>
    {% if user.is_authenticated %}
    <div class="flex flex-col w-fit justify-center items-center">
      <!-- <p class="w-full">Welcome, {{ user.username }}!</p> -->
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
      <button class="btn button bg-primary" type="submit">
        <a class="h-full w-full text-white font-semibold" href="{% url 'login' %}">
          Нэвтрэх
        </a>
      </button>
    {% endif %}
  </div>
</nav>