{% if messages %}
    {% for message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
              const toaster = document.querySelector('.toaster')
              toaster.classList.add('show');
              setTimeout(() =>{ 
                toaster.classList.remove('show'); 
              }, 2900)
          })
        </script>
    {% endfor %}
{% endif %}
<div class="toaster">
  {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="error">{{ message }}</div>
    {% else %}
      <div class="info">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% else %}
    <div class="error">Алдаа Гарлаа</div>
  {% endif %}
</div>