{% if messages %}
    {% for message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
              const toaster = document.querySelector('.toaster')
              toaster.classList.add('show-toaster');
              setTimeout(() =>{ 
                toaster.classList.remove('show-toaster'); 
              }, 2900)
          })
          $(document).ready(function() {
            $(".close-btn").on("click", function() {
              $(this).closest(".error").hide();
            });
          });
        </script>
    {% endfor %}
{% endif %}
<div class="toaster">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="error">
          <div class="error-icon-container">
            <i class="fa-solid fa-exclamation"></i>
          </div>
          <div style="font-weight: bold;">{{ message }}</div>
          <a class="close-btn">
            <i class="fa-solid fa-x"></i>
          </a>
        </div>
      {% else %}
      <div class="info-toast">
        <div class="info-icon-container">
          <i class="fa-solid fa-info" style="color: #3188f2;"></i>
        </div>
        <div style="font-weight: bold;">Алдаа Гарлаа</div>
        <a class="close-btn">
          <i class="fa-solid fa-x"></i>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
