{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>
    <div class="relative h-screen w-full">
        <div class="absolute top-0 h-screen w-full">
            {% include 'components/navbar.html' %}
        </div>
        <div class="center">
            <!-- <div class="h1">Login</div> -->
            <h1>Login</h1>
            <form action="">
                <input type="text" placeholder="нэвтрэх нэр/майл хаяг" required>
                <i class="far fa-envelope"></i>
                <input type="password" placeholder="********" required>
                <i class="fas fa-lock"></i>
                <input type="submit" value="Нэвтрэх">
            </form>
        </div>
    </div>
    
</body>

</html>