{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
<body>
  {% if request.path == '/survey/load/' %}
    <script>
      try {
        const url = window.location.href
        const hasPath = url.includes('/survey/load/')
        const queryParams = new URLSearchParams(window.location.search)
        const hasQueryParam = queryParams.has('file_name')

        if (hasPath && hasQueryParam) {
          const socketPort = '{{ SOCKET_PORT }}' ?? '8001'
          const socketUrl = `ws://${window.location.hostname}:${socketPort}/ws/task/`

          const socket = new WebSocket(socketUrl)

          socket.onmessage = (e) => {
            const data = JSON.parse(e.data)
            if (data !== null && data !== undefined && data.file_name !== null && data.file_name !== undefined) {
              const currentUrl = window.location.href
              const baseUrl = currentUrl.split('/survey/')[0]
              const newUrl = baseUrl + '/survey/result/?file_name=' + data.file_name
              window.location.href = newUrl
            }
          }

          socket.onerror((e) => {
            throw new error(e)
          })
         
        }
      } catch (error) {
          document.addEventListener('DOMContentLoaded', (event) => {
              const toaster = document.querySelector('.toaster')
              toaster.classList.add('show');
              setTimeout(() =>{ 
                toaster.classList.remove('show'); 
              }, 2900)
          })
      }
    </script>
  {% endif %}

  {% include 'components/navbar.html' %}
  <div class="stepper-wrapper">
    <div class="step {% if request.path == '/survey/' %}active{% else %} completed {% endif %}">
      <div class="step-img-wrapper">
        <img class="step-img" src="{% static 'images/icon-images/step1.png' %}" alt="step1">
      </div>
      <div class="step-icon">
        {% if request.path != '/survey/' %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title"> Өгөгдөл оруулах</div>
    </div>
    <div class="step-line"></div>
    <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' %} incomplete {% elif request.path == '/survey/load/' %} loading {% else %} completed {% endif %}">
      <div class="step-img-wrapper">
        <img class="step-img" src="{% static 'images/icon-images/step2.png' %}" alt="step2">
      </div>
      <div class="step-icon">
        {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/'  %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title">Бактери илрүүлэх</div>
    </div>
    <div class="step-line"></div>
    <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' or request.path == '/survey/load/' %} incomplete {% elif request.path == '/survey/finish/' %} completed {% else %} active {% endif %}">
      <div class="step-img-wrapper">
        <img class="step-img" src="{% static 'images/icon-images/step3.png' %}" alt="step3">
      </div>
      <div class="step-icon">
        {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/survey/result/' %}
          <i class="fa-solid fa-check" style="color:#fff;"></i>
        {% endif %}
      </div>
      <div class="step-title">Өгөгдөл татах</div>
    </div>
  </div>
  {% if request.path == '/survey/' or request.path == '/survey/upload/' %}
  {% include 'components/file-upload-form.html' %}
  {% elif '/survey/load/' in request.path %}
  loading
  {% else %}
  <!-- <div>{{ plot_html | safe }}</div> -->
  <table class="table w-fit table-bordered">
    <thead>
      <tr>
        <th>Bacter Label</th>
        <th>Prediction Value</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in result_data.items %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</body>
</html>