{% load static %}

<bottom>
  <div class="bottom-container">
    <a href="tel:+97699172098" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/phone-icon.png' %}" alt="phone-icon">
      <div class="text-white footer-text">(+976) 99172098</div>
    </a>
    <a href="https://www.google.com/maps?q=47.91170640838734,106.93874083409169" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/location-icon.png' %}" alt="location-icon">
      <div class="text-white footer-text">Баянзүрх дүүрэг, Шинэ Монгол Технологийн дээд сургууль</div>
    </a>
    <a href="mailto:nmit@nmit.edu.mn" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/email-icon.png' %}" alt="email-icon">
      <div class="text-white footer-text">nmit@nmit.edu.mn</div>
    </a>
    <a href="https://www.facebook.com/nmit.edu.mn" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/facebook-icon.png' %}" alt="facebook-icon">
      <div class="text-white footer-text">Шинэ Монгол Технологийн Дээд Сургууль</div>
    </a>
  </div>
</bottom>