{% extends 'layouts/main.html' %}
{% load static %}

{% block user-content %}

  <h1 >Түгээмэл асуултууд</h1>

  <div>

    <div>
      <ul id="accordion">

        <li>
          <label for="first"> Хэрхэн ажилладаг вэ? <i class="fa fa-chevron-down"></i></label>
          <input type="radio" name="accordion" id="first">
          <div class="content">
            <p class="text">Raman spectroscopy болон Biochip ашиглан нянгийн спектр өгөгдлийг гарган авах бөгөөд тус
              өгөгдөл дээр
              бидний сургасан модел ангилал хийх болно. Ингэснээр эмгэг үүсгэгч бактерийг өндөр нарийвчлалтайгаар
              тодорхойлж зохих антибиотикийг санал болгох юм.
            </p>
          </div>
        </li>

        <li>
          <label for="second"> Шинжилгээ хэрхэн өгөх вэ? <i class="fa fa-chevron-down"></i></label>
          <input type="radio" name="accordion" id="second">
          <div class="content">
            <p class="text">dfs</p>
          </div>
        </li>


        <li>
          <label for="fourth"> Дийлэнх эмгэг үүсгэгч бактер <i class="fa fa-chevron-down"></i></label>
          <input type="radio" name="accordion" id="fourth">
          <div class="content">
            <p class="text">Халдварт Өвчин Судлалын Үндэсний Төвөөс гаргасан тоо баримтаар Монгол улсад нийт 30 гаруй төрлийн эмгэг үүсгэгч бактер өвчлөл үүсгэж байна.</p>
          </div>
        </li>

        <li>
          <label for="fifth"> Мэдээлэл татах<i class="fa fa-chevron-down"></i></label>
          <input type="radio" name="accordion" id="fifth">
          <div class="content">
            <p class="text">dfs</p>
          </div>
        </li>


      </ul>
    </div>
  </div>


{% endblock user-content %}
