{% extends 'layouts/main.html' %}
{% load static %}

{% block user-content %}
<div class="bnr-container">
  <div class="relative h-full w-1/2">
    <img src="{% static 'images/home-bnr.png' %}" alt="home-bnr" class="object-contain w-full">
    <div class="absolute flex flex-col top-0 h-full justify-evenly bnr-txt">
      <div class="grid">
        <h1>Бодит үр дүн.</h1>
        <h1>Өндөр нарийвчлал.</h1>
        <h1>Богино хугацаа.</h1>
      </div>
<!-- 
      <a href="/more" class="flex w-fit gap-10 items-center">
        <img src="{% static 'images/play-icon.png' %}" alt="play-icon" class="more-icon">
        <h2>Дэлгэрэнгүй бичлэг</h2>
      </a> -->
    </div>
  </div>
  <div id="main-bnr-carousel" class="carousel slide h-full w-1/2">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/home-carousel-bnr.png' %}" class="d-block w-100" alt="home-carousel-bnr">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script>
  window.onload = function () {
    const parents = document.querySelectorAll('.info');

    function adjustParentHeight(parent) {
      var child = parent.querySelector('.info-item');
      if (child) {
        parent.style.height = child.offsetHeight + 'px';
      }
    }

    parents.forEach(function (parent) {
      adjustParentHeight(parent);

      // Adjust height on window resize
      window.onresize = function () {
        adjustParentHeight(parent);
      };
    });
  };
</script>

<div class="info-container">
  <div class="info">
    <div class="info-item">
      <div class="info-icon p-2">
        <img class="icon w-fit h-full" src="{% static 'images/info-icon/earth.png' %}" alt="info-icon">
      </div>
      <div class="text-lg text-white text-center">Хиймэл оюун ухаан</div>
    </div>
  </div>
  <div class="info">
    <div class="info-item">
      <div class="info-icon p-3">
        <img class="icon w-fit h-full" src="{% static 'images/info-icon/graph.png' %}" alt="info-icon">
      </div>
      <div class="text-lg text-white text-center">Өндөр нарийвчлал</div>
    </div>
  </div>
  <div class="info">
    <div class="info-item">
      <div class="info-icon p-3">
        <img class="icon w-fit h-full" src="{% static 'images/info-icon/tugrug.png' %}" alt="info-icon">
      </div>
      <div class="text-lg text-white text-center">Хямд үнэ</div>
    </div>
  </div>
  <div class="info">
    <div class="info-item">
      <div class="info-icon p-3">
        <img class="icon w-fit h-full" src="{% static 'images/info-icon/check.png' %}" alt="info-icon">
      </div>
      <div class="text-lg text-white text-center">Зохистой эмчилгээ</div>
    </div>
  </div>
</div>

<div class="tech-wrapper">
  <div class="tech-text px-2">
    <h1 class="font-bold">Раман спектроскопи</h1>
    <div class="flex justify-center items-center">
      <h2 class="px-2">
        Раман спектроскопи багаж нь Япон болон Тайвань улсад 5000-75000$ -н үнэтэй үйлдвэрлэгддэг ба (өвчтнөөс авсан
        арчдас) дээжийг SERS чип ашиглан лазерийн тусгалаар спектр өгөгдөл гаргаж авдаг багаж юм.
      </h2>
    </div>
  </div>
  <img class="tech-img" src="{% static 'images/spectro.png' %}" alt="spectro">
</div>

</main>

<div class="main">
  <div class="text-wrapper">
    <h1>Раман спектроскопийн хэрэглээ</h1>
  </div>
  <div class="scroll-container">
    <div class="scroll-element">
      <img class="scroll-image" src="{% static 'images/slide1.jpg' %}" alt="Slide 1">
      <img class="scroll-image" src="{% static 'images/slide2.jpg' %}" alt="Slide 2">
      <img class="scroll-image" src="{% static 'images/slide3.jpg' %}" alt="Slide 3">
      <img class="scroll-image" src="{% static 'images/slide4.jpg' %}" alt="Slide 4">
      <img class="scroll-image" src="{% static 'images/slide5.jpg' %}" alt="Slide 5">
      <img class="scroll-image" src="{% static 'images/slide6.jpg' %}" alt="Slide 6">
      <img class="scroll-image" src="{% static 'images/slide7.jpg' %}" alt="Slide 7">
      <img class="scroll-image" src="{% static 'images/slide8.jpg' %}" alt="Slide 8">

      <img class="scroll-image" src="{% static 'images/slide1.jpg' %}" alt="Slide 1">
      <img class="scroll-image" src="{% static 'images/slide2.jpg' %}" alt="Slide 2">
      <img class="scroll-image" src="{% static 'images/slide3.jpg' %}" alt="Slide 3">
      <img class="scroll-image" src="{% static 'images/slide4.jpg' %}" alt="Slide 4">
      <img class="scroll-image" src="{% static 'images/slide5.jpg' %}" alt="Slide 5">
      <img class="scroll-image" src="{% static 'images/slide6.jpg' %}" alt="Slide 6">
      <img class="scroll-image" src="{% static 'images/slide7.jpg' %}" alt="Slide 7">
      <img class="scroll-image" src="{% static 'images/slide8.jpg' %}" alt="Slide 8">
    </div>
  </div>
  <div class="popup-container">
    
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Химийн бодисыг тодорхойлох</h2>
      <img class="popup-image" src="{% static 'images/slide1.jpg' %}" alt="Slide 1">
      <h3>Раман спектроскопи нь химийн салбарт молекулуудыг тодорхойлох, химийн холбоо, молекул доторх холбоог судлахад
        ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Материалын шинж чанар</h2>
      <img class="popup-image" src="{% static 'images/slide2.jpg' %}" alt="Slide 2">
      <h3>Физикт Раман спектроскопийг материалын шинж чанарыг тодорхойлох, температурыг хэмжих, дээжийн
        талстографийн чиглэлийг олоход ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Биоанагаах</h2>
      <img class="popup-image" src="{% static 'images/slide3.jpg' %}" alt="Slide 3">
      <h3>Раман спектроскопи нь биоанагаахын судалгаа, биомолекулыг тодорхойлох, эсийн бүтцийг судлах, хорт хавдар зэрэг
        өвчнийг илрүүлэх, амьд эс доторх эмийн харилцан үйлчлэлийг хянахад ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Байгаль орчин</h2>
      <img class="popup-image" src="{% static 'images/slide4.jpg' %}" alt="Slide 4">
      <h3>Раман спектроскопи нь байгаль орчныг бохирдуулагч бодисыг тодорхойлох, усны чанарыг хянах, хөрс, агаар, усан
        дахь бохирдлыг судлахад ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Урлаг, соёл</h2>
      <img class="popup-image" src="{% static 'images/slide5.jpg' %}" alt="Slide 5">
      <h3>Раман спектроскопи нь урлаг, соёлын олдвор, бүтээлийн объектуудын пигментүүдийг тодорхойлох, түүхийн
        олдворуудад шинжилгээ хийх, насжилтыг тодорхойлоход ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Эмийн шинжилгээ</h2>
      <img class="popup-image" src="{% static 'images/slide6.jpg' %}" alt="Slide 6">
      <h3>Раман спектроскопи нь эмийн найрлагыг тодорхойлох, шинжилгээ хийх, эмийн харилцан үйлчлэлийг хянахад
        ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Шүүх шинжилгээ</h2>
      <img class="popup-image" src="{% static 'images/slide7.jpg' %}" alt="Slide 7">
      <h3>Раман спектроскопи нь ул мөр нотлох баримтыг илрүүлэх, хэргийн газраас олдсон нотлох баримтыг шинжлэхэд
        ашиглагддаг.</h3>
    </div>
    <div class="popup-element popup-center">
      <span>&times;</span>
      <h2>Холын зайнаас биет илрүүлэх</h2>
      <img class="popup-image" src="{% static 'images/slide8.jpg' %}" alt="Slide 8">
      <h3>Раман спектроскопи нь лазер туяа ашиглан тэсрэх бодисыг аюулгүй зайнаас илрүүлэх хэрэгсэл болгон ашиглагддаг.
      </h3>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const images = document.querySelectorAll('.scroll-image');
    const popupContainer = document.querySelector('.popup-container');
    const popupElement = document.querySelectorAll('.popup-element');


    images.forEach(function (image) {
      image.addEventListener('click', function () {
        popupContainer.style.display = 'block';
      });
    });

    const closeButton = document.querySelector('.popup-container .popup-element span');
    if (closeButton) {
      closeButton.addEventListener('click', function () {
        popupContainer.style.display = 'none';
      });
    }
  });
</script>





<main class="main pb-5">
  <div class="text-wrapper">
    <h1>Бидний тухай</h1>
  </div>
  <div class="bnr-container">
    <div class="bottom-bnr-item">
      <img class="w-full object-fill" src="{% static 'images/about_us.jpg' %}" alt="about-us">
    </div>
    <div class="about-us-text-wrapper">
      <div class="about-us-text text-white">
        <h2>Бидний тухай</h2>
      </div>
      <div class="about-us-desc">
        <h3 class="text-white text-start">Манай SoftTech баг нь Шинэ Монгол Технологийн Дээд Сургуулийн Програм
          хангамжийн инженер, Химийн инженер, Механикийн инженерийн ангийн төгсөх курсийн оюутнуудаас бүрдсэн ба 6 хүний
          бүрэлдхүүнтэй. </h3>
      </div>
    </div>
  </div>
</main>
<bottom>
  <div class="bottom-container">
    <a href="tel:+97699887766" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/phone-icon.png' %}" alt="phone-icon">
      <div class="text-white">(+976) 99887766</div>
    </a>
    <a href="https://www.google.com/maps?q=47.91170640838734,106.93874083409169" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/location-icon.png' %}" alt="location-icon">
      <div class="text-white">Баянзүрх дүүрэг, Шинэ Монгол Технологийн дээд сургууль</div>
    </a>
    <a href="mailto:nmit@nmit.edu.mn" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/email-icon.png' %}" alt="email-icon">
      <div class="text-white">nmit@nmit.edu.mn</div>
    </a>
    <a href="https://www.facebook.com/nmit.edu.mn" class="bottom-item" target="_blank">
      <img class="bottom-img" src="{% static 'images/facebook-icon.png' %}" alt="facebook-icon">
      <div class="text-white">Шинэ Монгол Технологийн Дээд Сургууль</div>
    </a>
  </div>
</bottom>

{% endblock user-content %}
