{% extends 'layouts/main.html' %}
{% load static %}

{% block user-content %}
    <div class="center justify-center" style="max-width: 380px; padding-left: 8px;">
        <h1>Bacteraify -д нэвтрэх</h1>
        <form class="inp" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input 
                class="input items-center" 
                id="id_username"
                name="username"
                type="email"
                value="{{ form.username.value|default_if_none:'' }}"
                placeholder="нэвтрэх нэр/майл хаяг" 
                required
            >
            <i class="far fa-envelope"></i>
            <input class="input" id="id_password" name="password" type="password" placeholder="********" required>
            <i class="fas fa-lock"></i>
            <input class="input" type="submit" value="Нэвтрэх">
        </form>
    </div>

{% endblock user-content %}