{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}

<body>
    <div class="relative h-screen w-full">
        <div class="absolute  h-full w-full top-0 bottom-0">
            <div class="center">
                <h1>Login</h1>
                <form class="inp" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input 
                        class="input items-center" 
                        id="id_username" 
                        name="username"
                        type="text" 
                        value="{{ form.username.value|default_if_none:'' }}"
                        placeholder="нэвтрэх нэр/майл хаяг" 
                        required
                    >
                    <i class="far fa-envelope"></i>
                    <input class="input" id="id_password" name="password" type="password" placeholder="********" required>
                    <i class="fas fa-lock"></i>
                    <input class="input" type="submit" value="Нэвтрэх">
                </form>
            </div>
        </div>
        <div class="flex justify-center w-full">
            {% include 'components/navbar.html' %}
        </div>
    </div>

</body>

</html>