{% extends 'layouts/main.html' %}
{% load static %}

{% block user-content %}
  {% if request.path == '/survey/load/' %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    checkForResult = () => {
      $.ajax({
        url: '/survey/check-result/{{ survey_file_name }}',
        success: (response) => {
          const resultFileName = response.result_file_name
          if (resultFileName) {
            clearInterval(pollingInterval);
            const currentUrl = window.location.href
            const baseUrl = currentUrl.split('/survey/')[0]
            const newUrl = baseUrl + '/survey/result/?file_name=' + resultFileName
            window.location.href = newUrl
          }
        },
        error: (error) => { console.error('Error:', error)}
      })
    }
    var pollingInterval = setInterval(checkForResult, 5000);
  </script>
  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

  <script type="text/javascript">
    var survey_number = ""
    downloadPdf = (resultFileName) => {
      const test = window.location.href.includes('test')
      if(test){
        const idx = '{{ index }}'
        var url = `{% url 'download-test-survey' %}?result=${idx}`
      } else {
        var url = `{% url 'download-survey' %}?result=${resultFileName}`
      }
      btn = document.getElementById('loadingButton')
      btn.classList.add('loading');
      fetch(url)
        .then(response => {
          if (!response.ok) {
              throw new Error('Network error')
          }
          return response.json()
        })
        .then(data => {
            survey_number = data.survey_number
            generatePDF(data.resp_data)
        })
        .catch(error => {
          btn = document.getElementById('loadingButton')
          btn.classList.remove('loading');
          console.error('There has been a problem with your fetch operation:', error)
        })
    }
    formatDate = (date) => {
      var year = date.getFullYear();
      var month = ('0' + (date.getMonth() + 1)).slice(-2);
      var day = ('0' + date.getDate()).slice(-2);
      var hours = ('0' + date.getHours()).slice(-2);
      var minutes = ('0' + date.getMinutes()).slice(-2);
      var seconds = ('0' + date.getSeconds()).slice(-2);
      return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }
    generatePDF = (htmlContent) => {
      const hiddenContainer = document.getElementById('hiddenContainer')
      hiddenContainer.innerHTML = htmlContent
      var downloaded_at = document.getElementById('downloaded_at')
      var formattedDate = formatDate(new Date())
      downloaded_at.innerHTML =  "<strong>ХЭВЛЭСЭН ОГНОО:</strong> " + formattedDate
      const jsPDF = window.jspdf.jsPDF
      const hiddenContent = document.getElementById('hiddenContainer')
      hiddenContent.style.display = 'block'
      const pdf = new jsPDF({
        format: 'a4',
        orientation: 'portrait' 
      })
      html2canvas(hiddenContent,{
        scale: Math.min(2480 / hiddenContent.offsetWidth, 3508 / hiddenContent.offsetHeight)
      }).then((hiddenCanvas) => {
        const hiddenImgData = hiddenCanvas.toDataURL('image/png')
        const pdfWidth = pdf.internal.pageSize.getWidth()
        const pdfHeight = pdf.internal.pageSize.getHeight()
        const imgProps = pdf.getImageProperties(hiddenImgData)
        const pdfImageWidth = pdfWidth
        const pdfImageHeight = (imgProps.height * pdfImageWidth) / imgProps.width

        let heightLeft = pdfImageHeight;
        let position = 0;
        heightLeft -= pdfHeight;
        pdf.addImage(hiddenImgData, 'PNG', 10, 10, pdfImageWidth - 20, pdfImageHeight)
        while (heightLeft >= 0) {
          position = heightLeft - pdfImageHeight;
          pdf.addPage();
          pdf.addImage(hiddenCanvas, 'PNG', 10, position, pdfImageWidth - 20, pdfImageHeight);
          heightLeft -= pdfHeight;
        }
        btn = document.getElementById('loadingButton')
        btn.classList.remove('loading');
        pdf.save(survey_number + ".pdf")
      })
    }
  </script>

  <div class="step-wrapper">
    <div class="stepper-wrapper">
      <div class="step {% if request.path == '/survey/' %}active{% else %} completed {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step1.png' %}" alt="step1">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Сорьц оруулах</div>
      </div>
      <div class="step-line"></div>
      <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' %} incomplete {% elif request.path == '/survey/load/' %} active {% elif request.path == '/test/survey/load/' %} active {% else %}  completed {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step2.png' %}" alt="step2">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/test/survey/load/'  %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Бактери таних</div>
      </div>
      <div class="step-line"></div>
      <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' or request.path == '/survey/load/' %} incomplete {% elif request.path == '/survey/finish/' %} completed {% elif request.path == '/test/survey/load/' %} incomplete {% else %} active {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step3.png' %}" alt="step3">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/survey/result/' and request.path != '/test/survey/load/' and '/test/survey/result/' not in request.path %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Хариу авах</div>
      </div>
    </div>
    <div class="stepper-row-text-wrapper">
      <div class="stepper-row-text">Сорьц оруулах</div>
      <div class="stepper-row-text">Бактери таних</div>
      <div class="stepper-row-text">Хариу авах</div>
    </div>
    <div class="step-content-wrapper">
      {% if request.path == '/survey/' or request.path == '/survey/upload/' %}
        {% include 'components/file-upload-form.html' %}
      {% elif '/survey/load/' in request.path %}
      <div style="max-width: 390px; width: 100%;">
        {% if user %}
        {% include 'components/ai-loader.html' %}
        {% else %}
        {% include 'components/ai-loader-test.html' %}
        {% endif %}
      </div>
      {% else %}
      <div style="max-width: 780px;" class="w-full flex flex-col">
        <table class="table table-striped w-full">
          <thead>
            <tr>
              <th style="vertical-align: middle" scope="col" class="bg-primary text-white text-center">Бактери нэршил</th>
              <th style="vertical-align: middle" scope="col" class="bg-primary text-white text-center">Илэрсэн хувь</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in result_data.items %}
              <tr>
                <td class="text-center">
                  <div class="d-flex justify-content-center gap-2 align-items-center">
                    {{ key }}
                    <img style="height: 45px; object-fit: contain;" src="{% static 'images/bacteria/' %}{{key}}.png" alt="{{ key }}">
                  </div>
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-center gap-2 align-items-center" style="height: 45px">{{ value }}</div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button id="loadingButton" class="btn button bg-primary" type="submit" onclick="downloadPdf('{{ request.GET.file_name|urlencode }}')">
          <a class="h-full w-full text-white" href="#">
            <i class="fas fa-file-pdf text-lg me-1"></i>Шинжилгээний хариу татах
          </a>
        </button>
        <div class="result-chart">
          {% include 'charts/bar-chart.html' %}
        </div>
      </div>
      <div id="hiddenContainer" style="max-width: 1280px; width: 100%"></div>
      {% endif %}
    </div>
  </div>
{% endblock user-content %}