{% extends 'layouts/main.html' %}
{% load static %}

{% block user-content %}
  <div class="step-wrapper">
    <div class="stepper-wrapper">
      <div class="step {% if request.path == '/survey/' %}active{% else %} completed {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step1.png' %}" alt="step1">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Сорьц оруулах</div>
      </div>
      <div class="step-line"></div>
      <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' %} incomplete {% elif request.path == '/survey/load/' %} active {% elif request.path == '/test/survey/load/' %} active {% else %}  completed {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step2.png' %}" alt="step2">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/test/survey/load/'  %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Бактери таних</div>
      </div>
      <div class="step-line"></div>
      <div class="step {% if request.path == '/survey/' or request.path == '/survey/upload/' or request.path == '/survey/load/' %} incomplete {% elif request.path == '/survey/finish/' %} completed {% elif request.path == '/test/survey/load/' %} incomplete {% else %} active {% endif %}">
        <div class="step-img-wrapper">
          <img class="step-img" src="{% static 'images/icon-images/step3.png' %}" alt="step3">
        </div>
        <div class="step-icon">
          {% if request.path != '/survey/' and request.path != '/survey/upload/' and request.path != '/survey/load/' and request.path != '/survey/result/' and request.path != '/test/survey/load/' and '/test/survey/result/' not in request.path %}
            <i class="fa-solid fa-check" style="color:#fff;"></i>
          {% endif %}
        </div>
        <div class="step-title">Хариу авах</div>
      </div>
    </div>
    <div class="stepper-row-text-wrapper">
      <div class="stepper-row-text">Сорьц оруулах</div>
      <div class="stepper-row-text">Бактери таних</div>
      <div class="stepper-row-text">Хариу авах</div>
    </div>
    <div class="step-content-wrapper">
      {% if request.path == '/survey/' or request.path == '/survey/upload/' %}
        {% include 'components/survey/init.html' %}
      {% elif '/survey/load/' in request.path %}
      <div style="max-width: 390px; width: 100%;">
        {% include 'components/survey/loading.html' %}
      </div>
      {% else %}
        {% include 'components/survey/result.html' %}
      {% endif %}
    </div>
  </div>
{% endblock user-content %}