{% if messages %}
    {% for message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
              const toaster = document.querySelector('.toaster')
              toaster.classList.add('show');
              setTimeout(() =>{ 
                toaster.classList.remove('show'); 
              }, 2900)
          })
        </script>
    {% endfor %}
{% endif %}
<div class="toaster">
    {% if messages %}
    {{ message }}
    {% else %}
    Алдаа Гарлаа
    {% endif %}
</div>