{% if messages %}
    {% for message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
              const toasters = document.querySelectorAll('.toaster');
              toasters.forEach(function(toaster) {
                  showToast(toaster);
              });
          });
      
          function showToast(toasterElement) {
              toasterElement.classList.add('show');
              setTimeout(function(){ toasterElement.classList.remove('show'); }, 2900);
          }
        </script>
        <div class="toaster">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}