{% extends 'layouts/base.html' %}
{% load i18n static admin_soft %}

{% block content %}

  <main class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-info text-gradient">
                Нэвтрэх
              </h3>
              <p class="mb-0">
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Add your credentials
                {% endif %}
              </p>
            </div>
            <div class="card-body">
              <form role="form" method="post" action="#">
                {% csrf_token %}
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {% for field in form %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="mb-3">
                    {{field}}
                  </div>
                {% endfor %}
                <p class=""> 
                  <a href="{% url 'password_reset' %}" class="text-secondary">Нууц үг мартсан</a>
                </p>
                <button type="submit" class="btn bg-gradient-info w-100 mt-4 ">Нэвтрэх</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}

{% block extrascript %}
    <script type="application/javascript">
        {% if form.email.errors %}
            notification.danger("{{ form.email.errors }}", 'top', 'right');
        {% endif %}
        {% if form.password.errors %}
            notification.danger("{{ form.password.errors }}", 'top', 'right');
        {% endif %}

        {% if user.is_authenticated %}
            var msg = "You are authenticated as {{ email }}, but are not authorized to " +
                "access this page.Would you like to login to a different account ?"
            notification.warning(msg, 'top', 'right');
        {% endif %}

        {% if form.errors and not form.non_field_errors %}
            {% if form.errors.items|length == 1 %}
                notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');
            {% else %}
                notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');
            {% endif %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notification.warning("{{ error|clean_text }}", 'top', 'right');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
