.toaster {
  visibility: hidden;
  min-width: 250px;
  margin-left: -175px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0bca9;
  border: 2px solid #dd927d;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
  font-size: 17px;
  color: black;
}

.close-btn {
  cursor: pointer;
  color: black;
}

.error-icon-container {
  border: 8px solid #ff4e57;
  color: #ff4e57;
  height: 40px;
  width: 40px;
  border-radius: 1000px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.info-toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7d6ec;
  border: 2px solid #afc3df;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
  font-size: 17px;
  color: black;
}

.info-icon-container {
  border: 8px solid #3188f2;
  color: #3188f2;
  height: 40px;
  width: 40px;
  border-radius: 1000px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* Show the toaster */
.show-toaster {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toaster in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}