.selected-nav {
  color: #1881E2;
  border-bottom: 3px solid #1881E2;
  border-color: #1881E2;
}

.search-input {
  border: 2px solid #1881E2;
  /* width: 200px; */
  width: 100%;
}

.container-fluid {
  /* flex: 1; */
  flex-grow: 1;
}

@media (max-width: 894px) {
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-fluid, .search-container {
    flex: 1 1 auto;
    max-width: calc(50%);
  }

  .navbar-nav {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .gap-40 {
    gap: 20px;
  }
}

@media (max-width: 420px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .container-fluid {
    display: block;
    order: 1;
  }

  .container-fluid, .search-container {
    flex: 0;
    max-width: 100%;
  }

  .navbar-nav {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .search-container {
    order: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    max-width: 100vw;
  }

  .gap-40 {
    gap: 20px;
  }

  .search-input {
    border: 2px solid #1881E2;
    width: 100%;
  }
}
