.scroll-container {
  position: relative;
  width: 100vw;
  height: 250px;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 8s linear infinite;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll-img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-left: 40px;
}

@media (max-width: 356px) {
  .scroll-container {
    height: 50px;
  }
}

.primary {
  animation: primary 8s linear infinite;
}

.secondary {
  animation: secondary 8s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}