.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  background: #fff;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.step {
  text-align: center;
  position: relative;
  width: calc(100% / 3);
  border-radius: 100%;
}

.step .step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #999;
  margin-bottom: 10px;
  background-color: #009CDE;
  border-radius: 100%;
}

.step.completed .step-icon {
  color: #003376;
  background-color: #4C4C4C;
}

.step.incomplete .step-icon {
  background-color: #fff;
  padding: 10px;
  border: 7px solid #a1a1a1;
}

.step.active .step-icon {
  border: 5px solid #fff;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.step .step-icon i {
  line-height: 40px;
}

.step .step-icon.fa-circle {
  font-size: 0.5em; /* Smaller circle for not started steps */
}

.step-title {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
}

.step:not(:last-child):after {
  content: '';
  position: absolute;
  top: 75px;
  right: -40%;
  height: 4px;
  width: 80%;
  background-color: #4C4C4C;
}

.fa-solid .fa-check i {
  color: #009CDE;
}

.step-img-wrapper {
  margin-bottom: 15px;
}

.step-img {
  height: 45px;
  width: 45px;
  object-fit: contain;
}