{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bacteraify</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    {% if request.path == '/' %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    {% endif %}
    {% if '/survey/' in request.path %}
    <link rel="stylesheet" href="{% static 'css/stepper.css' %}">
    <link rel="stylesheet" href="{% static 'css/uploader.css' %}">
    {% endif %}
    {% if request.path == '/faq/' %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    {% endif %}
    {% if '/login/' in request.path %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/toaster.css' %}">
    {% if '/survey/load/' in request.path %}
    <link rel="stylesheet" href="{% static 'css/ai-loader.css' %}">
    {% endif %}
  </head>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% if '/survey/result/' in request.path %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {% endif %}

  {% include 'components/navbar.html' %}
  <main class="main">
  {% block user-content %}{% endblock user-content %}
  </main>
  {% include 'components/footer.html' %}

</body>
</html>