body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 36px;
  margin-bottom: 0px;
}

h2 {
  font-size: 24px;
  margin-bottom: 0px;
}

h3 {
  font-size: 12px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #2F8AE4;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-fit {
  width: fit-content;
}

.bg-primary {
  background-color: #003376;
}

.bg-secondary {
  background-color: #009CDE;
}

.bg-tertiary {
  background-color: #4C4C4C;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.object-contain {
  object-fit: contain
}

.object-fill {
  object-fit: fill;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.p-10 {
  padding: 40px;
}

.gap-10 {
  gap: 10px;
}

.items-center {
  align-items: center;
}

.text-gray {
  color: #9EA2B3;
}
