@import url('https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    background:#fff;
    font-family:"Public Sans","Helvetica Neue",helvetica,roboto,arial,sans-serif;
    font-weight:400;
    line-height:1.15;
    color:var(--wp--preset--color--neutral-75);
    font-size:100%;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-shadow:  0 0 #0000; 
    --tw-ring-inset:  var(--tw-empty, );  
    --tw-ring-offset-width:  0px;  
    --tw-ring-offset-color:  #fff;  
    --tw-ring-color:  #009CDE;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000; 
    --tw-ring-offset-width:  0px;  
    --tw-ring-offset-color:  #fff;  
    --tw-ring-color:  rgb(59 130 246 / 0.5);  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000; 
    --tw-ring-inset:  var(--tw-empty, );  
    --tw-ring-offset-width:  0px;  
    --tw-ring-offset-color:  #fff;  
    --tw-ring-color:  #009CDE;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000; 
    --tw-ring-offset-width:  0px;  
    --tw-ring-offset-color:  #fff;  
    --tw-ring-color:  rgb(59 130 246 / 0.5);  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-ring-offset-width:  0px;  
    --tw-ring-offset-color:  #fff;  
    --tw-ring-color:  rgb(59 130 246 / 0.5);  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-bg-opacity:  1;  
    --tw-ring-offset-shadow:  var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);  
    --tw-ring-shadow:  var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);  
    --tw-ring-opacity:  1;  
    --tw-ring-color:  rgb(10 97 144 / var(--tw-ring-opacity)); 
    --tw-bg-opacity:  1;  
    --tw-border-opacity:  1;  
    --tw-bg-opacity:  1;  
} 

* { 
    box-sizing: inherit;
} 

* { 
    border: 0 solid;
} 

* { 
    border-color: currentColor;
} 

* { 
    --tw-shadow: 0 0 #0000;
} 

* { 
    --tw-ring-inset: var(--tw-empty, ); 
    --tw-ring-offset-width: 0px; 
    --tw-ring-offset-color: #fff; 
    --tw-ring-color: #009CDE; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000;
} 

* { 
    --tw-ring-offset-width: 0px; 
    --tw-ring-offset-color: #fff; 
    --tw-ring-color: rgb(59 130 246 / 0.5); 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

div { 
    margin: 0; 
    padding: 0;
} 

.jt-relative { 
    position: relative;
} 

.jt-aspect-\[4\/3\] { 
    aspect-ratio: 4/3;
} 

@media (min-width: 768px){ 
  .md\:mt-16 { 
    margin-top: 4rem;
  } 
}     

body { 
    margin: 0;
} 

body { 
    margin: 0; 
    padding: 0; 
    background: #fff; 
    font-family: "Public Sans","Helvetica Neue",helvetica,roboto,arial,sans-serif; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #151e29; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

body { 
    --wp--preset--color--neutral-75: #151E29; 
    --wp--preset--font-size--base: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.24), 1rem); 
    --wp--custom--spacing--small: max(15px, 2vw); 
    --wp--custom--spacing--medium: clamp(2rem, 8vw, calc(4 * var(--wp--style--block-gap))); 
    --wp--custom--spacing--outer: var(--wp--custom--spacing--small, 1.25rem); 
} 

body { 
    margin: 0; 
} 

body { 
    --wp--style--block-gap: 1.5rem;
} 

body { 
    color: var(--wp--preset--color--neutral-75); 
    font-size: var(--wp--preset--font-size--base); 
    --wp--style--root--padding-right: var(--wp--style--block-gap); 
    --wp--style--root--padding-left: var(--wp--style--block-gap);
} 

html { 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
} 

html { 
    box-sizing: border-box; 
    font-size: 100%;
} 

.jt-flex { 
    display: flex;
} 

.jt-w-full { 
    width: 100%;
} 

.jt-justify-center { 
    justify-content: center;
} 

*,:after,:before { 
    box-sizing: inherit;
} 

*,:after,:before { 
    border-color: currentColor;
} 

*,:after,:before { 
    --tw-shadow: 0 0 #0000;
} 

*,:after,:before { 
    --tw-ring-inset: var(--tw-empty, ); 
    --tw-ring-offset-width: 0px; 
    --tw-ring-offset-color: #fff; 
    --tw-ring-color: #009CDE; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000;
} 

*,:before,:after { 
    --tw-ring-offset-width: 0px; 
    --tw-ring-offset-color: #fff; 
    --tw-ring-color: rgb(59 130 246 / 0.5); 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

:backdrop { 
    --tw-ring-offset-width: 0px; 
    --tw-ring-offset-color: #fff; 
    --tw-ring-color: rgb(59 130 246 / 0.5); 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

.jt-aspect-square { 
    aspect-ratio: 1 / 1;
} 

.jt-h-full { 
    height: 100%;
} 

.jt-absolute { 
    position: absolute;
} 

.jt-top-\[5\%\] { 
    top: 5%;
} 

.jt-left-\[1\%\] { 
    left: 1%;
} 

.jt-h-\[7\%\] { 
    height: 7%;
} 

.jt-rounded-full { 
    border-radius: 9999px;
} 

.jt-bg-neo-200 { 
    --tw-bg-opacity: 1; 
    background-color: rgb(10 97 144 / var(--tw-bg-opacity));
} 

.jt-left-\[90\%\] { 
    left: 90%;
} 

.jt-top-\[0\%\] { 
    top: 0%;
} 

.jt-left-\[85\%\] { 
    left: 85%;
} 

.jt-top-\[90\%\] { 
    top: 90%;
} 

.jt-left-\[5\%\] { 
    left: 5%;
} 

.jt-top-\[85\%\] { 
    top: 85%;
} 

.jt-top-\[40\%\] { 
    top: 40%;
} 

.jt-left-\[0\%\] { 
    left: 0%;
} 

.jt-top-\[55\%\] { 
    top: 55%;
} 

.jt-left-\[93\%\] { 
    left: 93%;
} 

.jt-left-0 { 
    left: 0px;
} 

.jt-top-0 { 
    top: 0px;
} 

.jt-overflow-hidden { 
    overflow: hidden;
} 

.jt-top-\[20\%\] { 
    top: 20%;
} 

.jt-left-\[20\%\] { 
    left: 20%;
} 

.jt-h-\[10\%\] { 
    height: 10%;
} 

.jt-w-\[10\%\] { 
    width: 10%;
} 

.jt-ring-2 { 
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color); 
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
} 

.jt-ring-neo-500 { 
    --tw-ring-opacity: 1; 
    --tw-ring-color: rgb(10 97 144 / var(--tw-ring-opacity));
} 

.jt-left-\[35\%\] { 
    left: 35%;
} 

.jt-left-\[50\%\] { 
    left: 50%;
} 

.jt-top-\[25\%\] { 
    top: 25%;
} 

.jt-left-\[75\%\] { 
    left: 75%;
} 

.jt-left-\[70\%\] { 
    left: 70%;
} 

.jt-left-\[80\%\] { 
    left: 80%;
} 

.jt-top-\[60\%\] { 
    top: 60%;
} 

.jt-left-\[65\%\] { 
    left: 65%;
} 

.jt-top-\[80\%\] { 
    top: 80%;
} 

.jt-left-\[45\%\] { 
    left: 45%;
} 

.jt-top-\[70\%\] { 
    top: 70%;
} 

.jt-left-\[25\%\] { 
    left: 25%;
} 

.jt-top-\[45\%\] { 
    top: 45%;
} 

.jt-stroke-neo-500 { 
    stroke: #009CDE;
} 

.jt-stroke-\[1\] { 
    stroke-width: 1;
} 

.jt-animate-spin-slow { 
    animation: jt-spin 20s linear infinite;
} 

.jt-fill-white { 
    fill: #fff;
} 

.jt-bg-white { 
    --tw-bg-opacity: 1; 
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
} 

.jt-border-2 { 
    border-width: 2px;
} 

.jt-border-neo-500 { 
    --tw-border-opacity: 1; 
    border-color: rgb(10 97 144 / var(--tw-border-opacity));
} 

.jt-fill-transparent { 
    fill: transparent;
} 

.jt-fill-neo-500 { 
    fill: #009CDE;
} 

.jt-left-\[38\%\] { 
    left: 38%;
} 

.jt-top-\[38\%\] { 
    top: 38%;
} 

.jt-h-\[24\%\] { 
    height: 24%;
} 

.jt-w-\[24\%\] { 
    width: 24%;
} 

.jt-bg-neo-500 { 
    --tw-bg-opacity: 1; 
    background-color: rgb(10 97 144 / var(--tw-bg-opacity));
} 

.jt-left-\[15\%\] { 
    left: 15%;
} 

.jt-top-\[15\%\] { 
    top: 15%;
} 

.jt-h-\[70\%\] { 
    height: 70%;
} 

.jt-w-\[70\%\] { 
    width: 70%;
} 

.jt-left-\[18\%\] { 
    left: 18%;
} 

.jt-top-\[18\%\] { 
    top: 18%;
} 


@keyframes jt-spin { 
  100% {  
      transform: rotate(360deg); 
      transform: rotate(360deg); 
  }  

} 
