.position {
    width: 430px;
    margin: 80px;
    position: relative;
    padding-top: auto;
}

h1 {
    font-weight: bold;
    color: #009CDE;
    padding: 20px;
    margin-left: 120px;
}

form .input {
    height: 50px;
    width: 90%;
    padding: 0 43px;
    border-radius: 8px;
    border: 1px solid #009CDE;
    font-size: 18px;
    outline: none;
}

form input[type="password"] {
    margin-top: 20px;
}

form i {
    position: absolute;
    font-size: 18px;
    color: gray;
    margin: 15px 0 0 -370px;
}

i.fa-lock {
    margin-top: 35px;
}

form input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 130 px;
    height: 45px;
    color: white;
    cursor: pointer;
    line-height: 45px;
    border-radius: 10px;
    background-color: #003376;
    border: 0;
    /* font-weight: bold; */
}

@media (max-width: 400px) {
    h1 {
        font-weight: bold;
        color: #009CDE;
        position: relative;
        right: 50px;
    }
    .position {
        width: auto;
        position: relative;
        padding-top: auto;
        right: 10px;
        left: 10px;
    }
    form .input {
        height: 40px;
        width: auto;
        padding: 0 43px;
        border-radius: 8px;
        font-size: 12px;
        outline: none;
    }

    form input[type="submit"] {
        position: absolute;
        margin-top: 80px;
        right: 30px;
        left: 50px;
    }
    form i {
        position: relative;
        font-size: 12px;
        color: gray;
        margin: 13px 0 0 -215px;
    }
}