html, body {
  overflow-y: auto; /* Only shows scrollbar when needed */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 32px;
  margin-bottom: 0px;
  padding-left: 4px;
}

h2 {
  font-size: 20px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #2F8AE4;
}

.bnr-txt {
  padding: 40px;
}

.bnr-container {
  display: flex;
  align-items: stretch
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  gap: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.tech-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.tech-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.tech-img {
  width: 50%;
  object-fit: contain;
}

.bottom-bnr-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.about-us-text-wrapper {
  background-color: #3B3E56;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-us-desc {
  padding-left: 40px;
  padding-right: 40px;
}

.about-us-text {
  padding: 40px;
}

bottom {
  background-color: #33364D;
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
}

.bottom-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex: 1;
  overflow: hidden;
}

.bottom-item {
  gap: 10px;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-lg {
  font-size: 20px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}

@media (max-width: 570px) {
  h1 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  h2 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .bnr-txt {
    padding: 20px;
  }

  .bnr-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .more-icon {
    width: 20px;
    width: 20px;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tech-text {
    gap: 20px;
    padding: 20px;
  }

  .tech-img {
    width: 100%;
  }

  .text-wrapper {
    padding: 10px;
  }
  
  .bottom-bnr-item {
    width: 100%;
    height: 100%;
  }

  .about-us-text-wrapper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-us-text {
    padding: 20px;
  }

  .about-us-desc {
    padding-left: 20px;
    padding-right: 20px;
  }

  bottom {
    background-color: #33364D;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  
  .bottom-container {
    max-width: 356px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .bottom-item {
    gap: 10px;
    width: 100%;
    align-items: center;
  }

  .bottom-img {
    height: 20px;
    width: 20px;
    object-fit: contain;
  }

  .text-lg {
    font-size: 14px;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 10px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.h-40 {
  height: 40px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-40 {
  width: 40px;
}

.w-fit {
  width: fit-content;
}

.bg-primary {
  background-color: #003376;
}

.bg-secondary {
  background-color: #009CDE;
}

.bg-tertiary {
  background-color: #4C4C4C;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.object-contain {
  object-fit: contain;
}

.object-fill {
  object-fit: fill;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.aspect-square {
  aspect-ratio: 1;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.p-10 {
  padding: 40px;
}

.p-5 {
  padding: 20px;
}

.p-3 {
  padding: 10px;
}

.p-2 {
  padding: 8px;
}

.gap-40 {
  gap: 40px;
}

.gap-30 {
  gap: 30px;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.items-center {
  align-items: center;
}

.text-gray {
  color: #9EA2B3;
}

.icon {
  object-fit: contain;
}

.text-white {
  color: #fff;
}

.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.mt-20 {
  margin-top: 80px;
}

.pt-10 {
  padding-top: 40px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pb-10 {
  padding-bottom: 40px;
}

.pb-20 {
  padding-bottom: 80px;
}

.max-w-8xl {
  max-width: 1366px;
}

.max-w-7xl {
  max-width: 1280px;
}

.font-semibold {
  font-weight: bold;
}

.font-bold {
  font-weight: bolder;
}

.justify-end {
  justify-content: end;
}

.margin-auto {
  margin: auto;
}

.h-screen {
  height: 100Vh;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.m-10 {
  margin: 10px;
}

.m-5 {
  margin: 5px;
}

.ml-none {
  margin-left: 0% !important;
}

.mr-none {
  margin-right: 0% !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.pl-5 {
  padding-left: 20px !important;
}

.pr-5 {
  padding-right: 20px !important;
}

.table-container {
  width: 100%;
  border-radius: 25px;
}

.table-head-primary {
  background: #003376;
}

.mx-5 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mx-10 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.empty-img {
  max-height: 250px;
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.text-start {
  text-align: start;
}
