.scroll-container {
  position: relative;
  width: calc(250px * 6 + 40px * 6);
  height: 250px;
  overflow: hidden;
}

.scroll-element {
  display: flex;
  width: fit-content;
  animation: slide 20s linear infinite;
  height: 100%;
}

.scroll-img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 40px;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 6 - 40px * 6)); }
}

@media (max-width: 356px) {
  .scroll-container {
    height: 150px;
    width: calc(150px * 6 + 20px * 6); 
  }

  .scroll-element {
    animation: slide 12s linear infinite;
  }
  
  .scroll-img {
    margin-right: 20px;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-150px * 6 - 20px * 6)); /* Adjusted for smaller screen */ }
  }
}