.scroll-container {
  position: relative;
  width: calc(250px * 6 + 40px * 6);
  height: 250px;
  overflow: hidden;
}

.scroll-element {
  display: flex;
  width: fit-content;
  animation: slide 20s linear infinite;
  height: 100%;
  cursor: pointer;
}

.scroll-element:hover {
  animation-play-state: paused;
}

.scroll-image {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 40px;
}

.scroll-image:hover{
  transform: scale(1.1);
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 6 - 40px * 6)); }
}

.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.popup-container .popup-element span{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  color: #000;
  cursor: pointer;
  z-index: 100;
}

.popup-container .popup-element{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: fit-content;
  object-fit: cover;
  background: #fff;
  flex-direction: column;
}

.popup-center{
  display: flex;
  padding: 40px;
  align-items:center;
}

.popup-element h3{
  font-size: 22px;
}

.popup-element h2{
  font-size: 25px;
  font-weight:600;
  margin-top: 10px;
}

.popup-image {
  height: 250px;
  width: 100%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 356px) {
  .popup-container .popup-element{
    width: 90%;
  }

  .scroll-container {
    height: 150px;
    width: calc(150px * 6 + 20px * 6); 
  }

  .scroll-element {
    animation: slide 12s linear infinite;
  }

  .scroll-element:hover {
    animation-play-state: paused;
  }
  
  .scroll-image {
    margin-right: 20px;
  }

  

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-150px * 6 - 20px * 6)); /* Adjusted for smaller screen */ }
  }
}

@media (max-width: 520px) {
  .popup-container .popup-element{
    width: 90%;
  }
  .popup-element h3{
    font-size: 12px;
  }
  .popup-element h2{
    font-size: 14px;
    font-weight:600;
    margin-top: 10px;
  }
  .popup-center{
    padding: 20px;
  }
  .popup-image {
    height: 150px;
  }
  .close-btn {
    font-size: 14px;
  }
  .close-btn {
    font-size: 24px !important;
  }
}
