.step-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.step-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 812px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.stepper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  gap: 4px;
  height: 600px;
}

.step {
  display: grid;
  justify-items: center;
  text-align: center;
  position: relative;
  border-radius: 100%;
  max-width: 350px;
  width: 100%;
  gap: 10px !important;
}

.step .step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #999;
  background-color: #009CDE;
  border-radius: 100%;
}

.step.completed {
  cursor: pointer;
}

.step.active {
  cursor: pointer;
}

.step.completed .step-icon {
  color: #003376;
  background-color: #4C4C4C;
}

.step.incomplete .step-icon {
  background-color: #fff;
  padding: 10px;
  border: 7px solid #a1a1a1;
}

.step.active .step-icon {
  background-color: #fff;
  padding: 10px;
  border: 7px solid #009CDE;
}

.step.loading .step-icon {
  border: 3px solid #fff;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.step .step-icon i {
  line-height: 40px;
}

.step .step-icon.fa-circle {
  font-size: 0.5em; /* Smaller circle for not started steps */
}

.step-title {
  color: #333;
  font-size: 18px;
  width: 100%;
  text-wrap: nowrap;
  text-align: center;
  margin-top: 0px;
}

/* .step:not(:last-child):after {
  content: '';
  position: absolute;
  top: 75px;
  right: -40%;
  height: 4px;
  width: 80%;
  background-color: #4C4C4C;
} */

.step-line {
  height: 100%;
  width: 3px;
  background-color: #4C4C4C;
}

.fa-solid .fa-check i {
  color: #009CDE;
}

.step-img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.stepper-row-text-wrapper {
  display: none;
}

@media (max-width: 796px) {
  .step-line {
    height: 4px;
    width: 100%;
    background-color: #4C4C4C;
    margin-top: 50px;
  }

  .step-wrapper {
    flex-direction: column;
  }

  .stepper-wrapper {
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    gap: 0px;
    padding-bottom: 10px;
    height: fit-content !important;
  }
  
  .step {
    text-align: center;
    position: relative;
    width: calc(100% / 2.5);
    border-radius: 100%;
  }

  .step-title {
    display: none;
  }

  .stepper-row-text-wrapper {
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
  }

  .stepper-row-text {
    color: #333;
    font-size: 14px;
  }
  
}

@media (max-width: 420px) {
  .step-img {
    height: 25px;
    width: 25px;
  }
  
  .step-line {
    height: 2px;
    width: 100%;
    background-color: #4C4C4C;
    margin-top: 35px;
  }

  .step .step-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #999;
    background-color: #009CDE;
    border-radius: 100%;
  }

  .step.incomplete .step-icon {
    background-color: #fff;
    padding: 5px;
    border: 4px solid #a1a1a1;
  }

  .stepper-row-text-wrapper {
    top: 90px;
  }

  .stepper-row-text {
    color: #333;
    font-size: 12px;
  }

  .step-content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}